body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(sunset-beach.jpg);

    & img {
        max-width: 100%;
        border-radius: 4cap;
    }

    & p {
        font-size: 1.3rem;
    }

    & button {
        border-radius: 5rem;
        border: none;
        width: 15dvw;
        height: 7dvh;
        font-size: 1rem;
        margin: 1rem;
        background-color: rgba(255, 255, 255, 0.474);
    }

    & a {
        text-decoration: none;
        color: black;
    }
}